body {
  font-family: "Arial", sans-serif;
  background-color: #e6e6e6;
  margin: 0;
  padding: 0;
}

h1 {
  color: #333;
  text-align: center;
}

form {
  max-width: 400px;
  margin: 20px auto;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
